<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Caesar Cipher</title>
</head>
<body>
  <p>
  <h3>Plain-text</h3>
    <textarea rows="4" cols="56" name="plain_text" form="plain-text-form"></textarea>
    <form action="" id="plain-text-form">
      Cipher: <input type="text" name="cipher">
      <input type="submit" value="Encipher">
    </form>
  </p>
  <h3>Cipher-text</h3>
  <textarea rows="4" cols="56" name="cipher_text"><%= cipher_text %>
  </textarea>
  </p>
  <!-- <p><%= reload_test %></p> -->
</body>
</html>
